USE [master]
GO
/****** Object:  Database [VOLUNTEER_SAMPLE]    Script Date: 9/4/2017 11:05:02 PM ******/
CREATE DATABASE [VOLUNTEER_SAMPLE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PHOENIX_SAMPLE', FILENAME = N'E:\SQL_DATABASES\MSSQL12.MSSQLSERVER\MSSQL\DATA\PHOENIX_SAMPLE.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PHOENIX_SAMPLE_log', FILENAME = N'E:\SQL_DATABASES\MSSQL12.MSSQLSERVER\MSSQL\DATA\PHOENIX_SAMPLE_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VOLUNTEER_SAMPLE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VOLUNTEER_SAMPLE]
GO
/****** Object:  Table [dbo].[INTAKE_MATRIX]    Script Date: 9/4/2017 11:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTAKE_MATRIX](
	[MATRIX_ID] [int] IDENTITY(1,1) NOT NULL,
	[USM_ID] [int] NULL,
	[POSITION_ID] [int] NULL,
	[REQUIRED_CT] [int] NULL,
	[UPDATE_DT] [datetime] NULL,
	[ELECTION_ID] [int] NULL,
	[COSTCNTR_ID] [int] NULL,
	[POSITION_DD] [nvarchar](250) NULL,
	[USM_DD] [nvarchar](250) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INTAKE_SAMPLE]    Script Date: 9/4/2017 11:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTAKE_SAMPLE](
	[INTAKE_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_L] [nvarchar](250) NULL,
	[NAME_F] [nvarchar](250) NULL,
	[NAME_M] [nvarchar](250) NULL,
	[NAME_SUFFIX] [nvarchar](250) NULL,
	[AKA] [nvarchar](250) NULL,
	[DOB] [datetime] NULL,
	[RADR_1] [nvarchar](250) NULL,
	[RADR_2] [nvarchar](250) NULL,
	[RCITY] [nvarchar](250) NULL,
	[RSTATE] [nvarchar](50) NULL,
	[RZIP] [int] NULL,
	[MADR_1] [nvarchar](250) NULL,
	[MADR_2] [nvarchar](250) NULL,
	[MCITY] [nvarchar](250) NULL,
	[MSTATE] [nvarchar](250) NULL,
	[MZIP] [int] NULL,
	[PHONE_H] [numeric](18, 0) NULL,
	[PHONE_W] [numeric](18, 0) NULL,
	[PHONE_C] [numeric](18, 0) NULL,
	[PHONE_W_EXT] [numeric](18, 0) NULL,
	[BEST_CALL] [nvarchar](250) NULL,
	[ELECTION_ID_1] [int] NULL,
	[ELECTION_ID_2] [int] NULL,
	[HOME_PREC_DD] [nvarchar](250) NULL,
	[PARTY_ID] [int] NULL,
	[PARTY_DD] [nvarchar](250) NULL,
	[PREV_EXP] [bit] NOT NULL,
	[LAST_ELECTION_WRK] [nvarchar](250) NULL,
	[PREV_POSITION] [nvarchar](250) NULL,
	[SECOND_LANG] [nvarchar](250) NULL,
	[EMAIL] [nvarchar](250) NULL,
	[COSTCNTR_ID] [int] NULL,
	[STATE_WORKER] [bit] NOT NULL,
	[WORK_TYPE] [nvarchar](max) NULL,
	[DESIRED_POSITION] [nvarchar](max) NULL,
	[POSITION_GROUP_ID] [int] NULL,
	[POSITION_GROUP] [nvarchar](50) NULL,
	[POSITION_ID1] [int] NULL,
	[POSITION_DD1] [nvarchar](250) NULL,
	[DESIRED_WORKAREA] [nvarchar](max) NULL,
	[WORKAREA_ID] [int] NULL,
	[WORKAREA_DD] [nvarchar](250) NULL,
	[CLASS_ID1] [int] NULL,
	[CLASS_DD1] [nvarchar](250) NULL,
	[SELECT_ME] [bit] NULL,
	[NOTES] [nvarchar](max) NULL,
	[COMPLETE] [nvarchar](3) NULL,
	[STATUS] [nvarchar](50) NULL,
	[VR_STATUS_PASS] [bit] NOT NULL,
	[D_STATUS] [nvarchar](50) NULL,
	[ASSIGNED] [bit] NOT NULL,
	[D_STATUS_ASSIGN] [nvarchar](50) NULL,
	[PPS] [bit] NOT NULL,
	[PPD_DOC_FILE] [nvarchar](250) NULL,
	[SCORE] [float] NULL,
	[EXAM_DOC_FILE] [nvarchar](250) NULL,
	[CERTIFIED] [bit] NOT NULL,
	[CERT_DOC_FILE] [nvarchar](250) NULL,
	[CERT_EXPIRATION_DT] [datetime] NULL,
	[CERT_BY] [nvarchar](50) NULL,
	[PASS_EXAM] [bit] NOT NULL,
	[WORKED] [bit] NOT NULL,
	[WORKED_PARTIAL] [bit] NOT NULL,
	[PCNT_PAY] [numeric](18, 2) NULL,
	[ADJ_GROSS] [numeric](18, 2) NULL,
	[ADDON] [bit] NOT NULL,
	[ADDON_ID] [int] NULL,
	[PROCESS_PAYROLL] [bit] NOT NULL,
	[NPO] [bit] NOT NULL,
	[NPO_ID] [int] NULL,
	[NPO_PROCESSED] [bit] NULL,
	[E_COMPLETE] [bit] NOT NULL,
	[PR_COMPLETE] [bit] NOT NULL,
	[INPROCESS] [bit] NULL,
	[UPDATE_DT] [datetime] NULL,
	[CREATION_DT] [datetime] NULL,
	[WEB_SOURCE] [nvarchar](10) NULL,
	[WORKAREA_TEMP] [nvarchar](100) NULL,
	[WEB_INTAKE] [bit] NULL,
	[WEB_SAVE_DATE] [datetime] NULL,
	[WEB_RECRUIT_ID] [int] NULL,
	[WEB_COUNTY_ID] [int] NULL,
	[IMPORT_DATE] [datetime] NULL,
	[WEB_INTAKE_PROCESSED] [bit] NULL,
	[DESIRED_DP] [nvarchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VOUNTEER_CLASS]    Script Date: 9/4/2017 11:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUNTEER_CLASS](
	[CLASS_ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASS_NAME] [nvarchar](250) NULL,
	[CLAS_DESC] [nvarchar](max) NULL,
	[UPDATE_DT] [datetime] NULL,
	[CLASS_DT] [datetime] NULL,
	[CLASS_TIME] [datetime] NULL,
	[LOCATION] [nvarchar](250) NULL,
	[POSITION_ID] [int] NULL,
	[ACTIVE] [bit] NOT NULL,
	[SIZE_MAX] [int] NULL,
	[EXAM_ID] [int] NULL,
	[PREREQ_CERT] [bit] NOT NULL,
	[INSTRUCTOR] [nvarchar](250) NULL,
	[RESOURCES_REQUIED] [nvarchar](max) NULL,
	[NOTES] [nvarchar](max) NULL,
	[COSTCNTR_ID] [int] NULL,
	[ELECTION_ID] [int] NULL,
	[POS_GROUP_ID] [int] NULL,
	[EXAM_NAME] [nvarchar](250) NULL,
	[EXAM_DESC] [nvarchar](250) NULL,
	[QUESTION_CT] [numeric](18, 0) NULL,
	[PASSING_CT] [numeric](18, 0) NULL,
	[PASSING_PCNT] [numeric](18, 2) NULL,
	[POSITION_DD] [nvarchar](250) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VOUNTEER_WORKAREA_RESOURCE_REQ]    Script Date: 9/4/2017 11:05:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOUNTEER_WORKAREA_RESOURCE_REQ](
	[RESOURCE_ID] [int] IDENTITY(1,1) NOT NULL,
	[POSITION_ID] [int] NULL,
	[ELECTION_ID] [int] NULL,
	[COSTCNTR_ID] [int] NULL,
	[UPDATE_DT] [datetime] NULL,
	[REQUIRED_CT] [int] NULL,
	[WORKAREA_ID] [int] NULL,
	[WORKAREA_DD] [nvarchar](250) NULL,
	[POSITION_DD] [nvarchar](250) NULL,
	[FILLED] [bit] NULL,
	[REMAIN_CT] [int] NULL,
	[POLLING_PLACE] [bit] NULL
) ON [PRIMARY]

GO
USE [master]
GO
